@charset "UTF-8";
.flexRow--header-supertopo {
  background-color: #151515;
  padding: 8px;
}

.flexCol--direction-row {
  flex-direction: row;
}

.flexCol--items-center, .flexRowContent--items-center {
  align-items: center;
}

.flexRow--header-nav {
  background-color: #931D1E;
  position: relative;
  z-index: 10;
}

.flexCol--footer-selos {
  gap: 20px;
}

.flexRow--main-header {
  padding: 6px 0;
}

@media (min-width: 770px) {
  .flexCol--search-header {
    width: 370px;
  }
}

.flexRowContent--relative {
  position: relative;
}

.flexRow--bg-white {
  background-color: white;
}

.flexRow--footer-imgs :global(.vtex-store-components-3-x-imageElement) {
  margin-bottom: 10px;
}

.flexRowContent--direction-column {
  flex-direction: column;
}
.flexRowContent--direction-column .stretchChildrenWidth {
  width: 100% !important;
}

.flexRow--footer-copyright {
  background-color: #f5f5f5;
}

.flexRow--productSpecification {
  padding: 0.89rem;
}
.flexRow--productSpecification:nth-child(odd) {
  background-color: #ECECEC;
}

.flexCol--product-col-3 :global(.vtex-button) {
  transition: 0.2s ease;
}
.flexCol--product-col-3 :global(.vtex-button):hover {
  transition: 0.2s ease;
  background-color: #13A43E;
  border-color: #13A43E;
}
.flexCol--product-col-3 :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCol--product-col-3 :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText)::before {
  content: url(/arquivos/cart.svg);
  margin-right: 0.8rem;
}

@media (max-width: 769px) {
  .flexCol--supertopo-item {
    justify-content: center;
  }
}

.flexCol--product-col-2, .flexCol--product-col-3 {
  background-color: white;
  padding: 15px;
}
@media (min-width: 770px) {
  .flexCol--product-col-2, .flexCol--product-col-3 {
    min-height: 475px;
  }
}

.flexRowContent--product-main {
  align-items: start;
}

@media (min-width: 770px) {
  .flexCol--institucional-principal {
    padding-left: 50px;
    border-left: 3px solid #ccc;
  }
}

.flexRow--footer-newsletter {
  background-color: #931D1E;
}

.flexRow--bg-gray-color {
  background-color: #f5f5f5;
}

.flexRowContent--flex-wrap {
  flex-wrap: wrap;
}

.flexRow--page-contato {
  width: 650px;
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 769px) {
  .flexRowContent--home-trustvox-title {
    padding-top: 70px;
  }
}

.flexRowContent--home-categorias-imgs .stretchChildrenWidth {
  position: relative;
  transition: all 0.5s ease-in-out;
}
.flexRowContent--home-categorias-imgs .stretchChildrenWidth:hover::after {
  height: 18%;
}
.flexRowContent--home-categorias-imgs .stretchChildrenWidth:hover :global(.vtex-store-components-3-x-imageElement) {
  filter: brightness(1.3);
}
.flexRowContent--home-categorias-imgs .stretchChildrenWidth::after {
  content: "";
  display: block;
  width: 100%;
  height: 0%;
  background: rgba(147, 29, 30, 0.9);
  position: absolute;
  transition: all 0.15s ease-in-out;
  bottom: 26%;
  left: 0;
  z-index: 1;
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  pointer-events: none;
}

.flexRow--searchbread {
  border-bottom: 1px solid #e3e4e6;
}
.flexRow--searchbread :global(.vtex-breadcrumb-1-x-container) {
  text-align: center;
  padding: 0;
}

.flexRowContent--footer-main-mobile {
  display: grid;
  grid-template-columns: 48% 48%;
  row-gap: 40px;
  zoom: 0.94;
}

.flexRow--footer-contato-mobile .flexColChild {
  zoom: 0.94;
  margin: 0 auto;
}
.flexRow--footer-contato-mobile .flexColChild :global(.vtex-rich-text-0-x-heading), .flexRow--footer-contato-mobile .flexColChild :global(.vtex-rich-text-0-x-paragraph) {
  text-align: center;
}

.flexRow--footer-fixo-mobile {
  background-color: #931D1E;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.flexRowContent--product-breadcrumb :global(.vtex-breadcrumb-1-x-term), .flexRowContent--product-breadcrumb :global(.vtex-breadcrumb-1-x-termArrow) {
  display: none;
}

@media (max-width: 769px) {
  .flexCol--product-col-2 {
    margin-bottom: 10px;
  }
}

@media (max-width: 769px) {
  .flexColChild--product-col-3 .flexRowContent {
    text-align: center;
    justify-content: center;
  }
}

.flexColChild--header-icon :global(.vtex-login-2-x-label), .flexColChild--header-icon :global(.vtex-login-2-x-profile) {
  font-size: 0;
}
.flexColChild--header-icon :global(.vtex-login-2-x-label)::before, .flexColChild--header-icon :global(.vtex-login-2-x-profile)::before {
  content: url(assets/imgs/icones/userProfile-header.svg);
  display: block;
  text-align: center;
  margin-bottom: 3px;
}
.flexColChild--header-icon :global(.vtex-login-2-x-label)::after, .flexColChild--header-icon :global(.vtex-login-2-x-profile)::after {
  content: "Meu perfil";
  display: block;
  text-align: center;
  font-size: 0.875rem;
  color: #3f3f40;
  margin-top: 5px;
  font-weight: 400;
}

@media (max-width: 769px) {
  .flexRow--content-search :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

.flexRow--loja-e-wp-mobile {
  padding: 0 20px;
}
.flexRow--loja-e-wp-mobile :global(.vtex-rich-text-0-x-strong), .flexRow--loja-e-wp-mobile :global(.vtex-rich-text-0-x-strong--entre-em-contato) {
  font-size: 0.75rem;
  display: flex;
  gap: 5px;
}
.flexRow--loja-e-wp-mobile .flexColChild--header-lojas-trigger :global(.vtex-rich-text-0-x-strong) {
  color: #931D1E;
}
.flexRow--loja-e-wp-mobile .flexColChild--header-lojas-trigger :global(.vtex-store-components-3-x-imageElement) {
  margin-right: 5px;
}
.flexRow--loja-e-wp-mobile :global(.vtex-rich-text-0-x-strong--entre-em-contato) {
  color: #3D3D3D;
  text-decoration: unset;
  font-weight: 700;
}
.flexRow--loja-e-wp-mobile :global(.vtex-rich-text-0-x-strong--entre-em-contato)::before {
  content: url(/arquivos/zapIcon-header_mobile.svg);
}

.flexCol--footer-fixo-mobile {
  padding: 10px 0;
}
.flexCol--footer-fixo-mobile :global(.vtex-store-drawer-0-x-openIconContainer--menu-header) {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
}
.flexCol--footer-fixo-mobile :global(.vtex-store-drawer-0-x-openIconContainer--menu-header)::before {
  display: none;
}
.flexCol--footer-fixo-mobile .flexColChild--footer-fixo-mobile {
  position: relative;
  text-align: center;
}
.flexCol--footer-fixo-mobile .flexColChild--footer-fixo-mobile :global(.vtex-rich-text-0-x-link) {
  text-decoration: unset;
}
.flexCol--footer-fixo-mobile .flexColChild--footer-fixo-mobile :global(.vtex-rich-text-0-x-link), .flexCol--footer-fixo-mobile .flexColChild--footer-fixo-mobile :global(.vtex-rich-text-0-x-paragraph) {
  font-size: 0.75rem;
  font-weight: 300;
  margin-top: 5px;
}

.flexRow--aviso-de-frete-fixo {
  background: #931D1E;
  justify-content: center;
  text-align: center;
  color: white;
}
@media (max-width: 769px) {
  .flexRow--aviso-de-frete-fixo {
    padding: 10px 0;
  }
}
@media (min-width: 770px) {
  .flexRow--aviso-de-frete-fixo:not(:hover) :global(.vtex-rich-text-0-x-paragraph--aviso-de-frete-fixo-descricao) {
    font-size: 0;
  }
  .flexRow--aviso-de-frete-fixo:not(:hover) :global(.vtex-rich-text-0-x-paragraph--aviso-de-frete-fixo-descricao)::before {
    content: "Ver condições";
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 770px) {
  .flexRow--aviso-de-frete-fixo {
    border-radius: 15px 0 0 15px;
    z-index: 8;
    position: fixed;
    bottom: calc(5% + 70px);
    right: -113px;
    padding: 15px 16px;
    font-size: 1rem;
    width: 250px;
    height: 72px;
    padding-right: 125px;
  }
  .flexRow--aviso-de-frete-fixo:hover {
    right: 0;
    padding-right: 0;
    height: fit-content;
  }
}
.flexRow--aviso-de-frete-fixo .flexRowContent--aviso-de-frete-fixo {
  flex-direction: column;
}
.flexRow--aviso-de-frete-fixo :global(.vtex-store-components-3-x-container) {
  padding: 0;
}

.flexRow--product-name :global(.vtex-product-identifier-0-x-product-identifier__label), .flexRow--product-name :global(.vtex-product-identifier-0-x-product-identifier__separator) {
  display: none;
}
.flexRow--product-name :global(.vtex-product-identifier-0-x-product-identifier__value) {
  font-size: 1.375rem;
  font-weight: 600;
  color: initial;
}
@media (min-width: 770px) {
  .flexRow--product-name :global(.vtex-product-identifier-0-x-product-identifier__value) {
    font-size: 1.5rem;
  }
}
.flexRow--product-name :global(.vtex-product-identifier-0-x-product-identifier__value)::before {
  content: "-";
  display: inline-block;
  margin: 0 5px;
}