.buttonNext::before{
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAyOSAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC43NzExIDI2LjI2N0wyMC4wNDA2IDE0Ljk5NzZMOC43NzExIDMuNzI4MjEiIHN0cm9rZT0iIzE1MTUxNSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PC9wYXRoPjwvc3ZnPg==');
    zoom: .7;
    display: block;
    position: relative;
    top: 2px; 
}
.buttonPrev::before{
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAyOSAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjAuMjI5OSAzLjcyODI3TDguOTYwMzkgMTQuOTk3N0wyMC4yMjk5IDI2LjI2NyIgc3Ryb2tlPSIjMTUxNTE1IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L3BhdGg+PC9zdmc+');
    zoom: .7;
    display: block;
    position: relative;
    top: 2px; 
}
.buttonDisabled{
    display: none;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 15px;
} 
.pagination .itens_pagination{
    text-decoration: unset;
    line-height: 27px;
    width: 27px;
    border: 1px solid #3f3f40;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    color: #3f3f40;
}
.pagination .pagination__item{
    text-decoration: unset;
    color: #3f3f40;
}
.pagination .itens__itemActive{
    background-color: #3f3f40; 
} 
.pagination .itens__itemActive .pagination__item{
    color: white;
}